<h2>Submit a new Song</h2>
<form class = songForm action="/songs" method="post">
  <input type="text" name="song" placeholder="Song">
  <input name="imageUrl" readonly>
  <input name="album" readonly>
  <input name="artist" readonly>
  <input type="button" class = 'searchSubmit' value="Search">
  <input type="submit" class = 'Submit'>
</form>

<script src="../songs.js" charset="utf-8"></script>
