<h2>Submit a new Artist</h2>
<form class = artistForm action="/artists" method="post">
  <input type="text" name="artist" placeholder="artist">
  <input type="hidden" name="imageUrl">
  <input type="hidden" name="spotifyId">
  <input type="hidden" name="genres">
  <input type="button" class = 'searchSubmit' value="Search">
  <input type="submit" class = 'Submit'>
</form>

<script src="../artists.js" charset="utf-8"></script>
